[core]
	excludesfile = /Users/luiz.sena88/.gitignore_global
[user]
	name = senal88
	email = luizfernandomoreirasena@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILdlupP2/E/f4c983+suKl+Ikp42DnO1SKDGnk/7+oHW
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
